<h3>Add New Project to Fund</h3>
<div>
  <div class="form-group">
    <label>Project Title:</label>
    <br>
    <input #newTitle>
  </div>

  <div class="form-group">
    <label> Description:</label>
    <br>
    <textarea #newDescription></textarea>
  </div>

  <div class="form-group">
    <label> Organizer(s):</label>
    <br>
    <input #newOrganizers>
  </div>

  <div class="form-group">
    <label> Goal:</label>
    <br>
    <input #newGoal type="number">
  </div>

  <!-- This is a work around since we were having troubles getting the value for category to properly select. We created a default dummy value object in new-project-form.ts for Technology that can change when you select another category. -->
  <div class="form-group">
  <label>Category</label>
  <div class="radio">
  <label><input type="radio" value="Technology" name="newCategory"  [(ngModel)]="categoryChoice"> Technology</label>
  <label><input type="radio" value="Non-Profit" name="newCategory"  [(ngModel)]="categoryChoice"> Non-Profit</label>
  <label><input type="radio" value="Product-Development" name="newCategory"  [(ngModel)]="categoryChoice">Product Development</label>
  <label><input type="radio" value="Other" name="newCategory"  [(ngModel)]="categoryChoice">Other</label>
  </div>
  </div>


  <div class="form-group">
    <label>Perks:</label>
    <br>
    <textarea #newPerks></textarea>
  </div>
  <button (click)="submitForm(newTitle.value, newDescription.value, newOrganizers.value, newGoal.value, newPerks.value); newTitle.value=''; newDescription.value=''; newOrganizers.value=''; newGoal.value=''; newPerks.value=''">Add</button>
</div>
