<div>
  <h2>{{(projectToDisplay | async)?.title}} by <em>{{(projectToDisplay | async)?.organizers}}</em></h2>
  <h4>{{(projectToDisplay | async)?.category}}</h4>
  <h3>Goal: ${{(projectToDisplay | async)?.goal}}</h3>
  <p class="lead">{{(projectToDisplay | async)?.description}}</p>
  <h3>Perks: {{(projectToDisplay | async)?.perks}}</h3>
  <hr>
  <button class="btn btn-success">Fund This Project - $5</button>
  <button class="btn btn-success">Fund This Project - $10</button>
  <button class="btn btn-success">Fund This Project - $50</button>
  <button class="btn btn-success">Fund This Project - $100</button>
</div>
<a href="/marketplace">Back</a>
